body{
margin:0;
font-family:Georgia,serif;
background:white;
}

#corazones{
position:fixed;
width:100%;
height:100%;
top:0;
left:0;
z-index:-1;
}

.corazon{
position:absolute;
color:#f5a3c4;
animation: flotar 10s linear infinite;
}

@keyframes flotar{
0%{transform:translateY(100vh);opacity:0;}
50%{opacity:1;}
100%{transform:translateY(-10vh);opacity:0;}
}

.zona-principal{
display:flex;
justify-content:center;
align-items:center;
margin-top:80px;
gap:40px;
}

.contenedor-lirios{
position:relative;
width:500px;
height:400px;
}

.lirio{
position:absolute;
width:150px;
cursor:pointer;
transition:0.3s;
}

.lirio:hover{
transform:scale(1.1);
}

.lirio:nth-child(1){top:0;left:0;}
.lirio:nth-child(2){top:0;right:0;}
.lirio:nth-child(3){top:120px;left:175px;}
.lirio:nth-child(4){top:260px;left:60px;}
.lirio:nth-child(5){top:260px;right:60px;}

.titulo-vertical{
display:flex;
flex-direction:column;
font-size:40px;
color:#d46a92;
font-family:"Brush Script MT",cursive;
}

.pergamino-fondo{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.4);
display:none;
align-items:center;
justify-content:center;
}

/* AQUÍ SE QUITÓ EL PERGAMINO */
.pergamino{
background:white;
width:500px;
height:530px;
padding:40px 30px;
border-radius:12px;
overflow-y:auto;
position:relative;
box-shadow:0 0 20px rgba(0,0,0,0.2);
text-align:center;
}

.cerrar{
position:absolute;
top:5px;
right:12px;
font-size:34px;
color:#5a2d38;
cursor:pointer;
font-weight:bold;
z-index:1000;
}

.pergamino h2{
color:black;
font-family:"Brush Script MT",cursive;
font-size:34px;
}

.pergamino p{
color:black;
font-size:15px;
text-align:justify;
line-height:1.5;
}

.galeria{
display:none;
grid-template-columns:repeat(2,1fr);
gap:10px;
margin-top:20px;
}

.galeria img{
width:100%;
border-radius:8px;
}

.contador{
font-size:48px;
font-family:"Brush Script MT",cursive;
color:black;
display:block;
margin-top:40px;
}
